# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.so
*.pbs

# Mac OS and system files
.DS_Store
Thumbs.db
desktop.ini

# outputs and configs
/output/
/config/
/results/

# logs
.hpclogs/
.run_pbs_files/

# umls files
scoring/quickumls/

# shell scripts
*.sh
