# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.sh
*.pbs
*.txt

# Mac OS and system files
.DS_Store
Thumbs.db
desktop.ini

# outputs
output/*
config/*

# logs
.hpclogs/
.run_pbs_files/

# umls files
quickumls/